

/* レイアウト
-----------------------------------------------------------------------------*/

h1 {
	font-size: 150%;
	border-bottom: double;
	border-color: #999;
	margin: 1em 0em;
}
footer {
	padding: 0.5em;
	text-align: center;
}


.head {
	font-weight: bold;
}
.head:after {
	content: ":";
}


input[type="radio"], label {
	display: inline;
	vertical-align: middle;
	margin: 0px;
}
